<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Ccc_Order>
			<version>0.1.1</version>
		</Ccc_Order>
	</modules>
	<frontend>
		<routers>
			<order>
				<use>standard</use>
				<args>
					<module>Ccc_Order</module>
					<frontName>order</frontName>
				</args>
			</order>
		</routers>
		<layout>
			<updates>
				<order>
					<file>order.xml</file>
				</order>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<order>
				<use>admin</use>
				<args>
					<module>Ccc_Order</module>
					<frontName>order</frontName>
				</args>
			</order>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<order>
				<title>Order</title>
				<sort_order>601</sort_order>
				<children>
                    <items>
                        <title>Manage Orders</title>
                        <sort_order>0</sort_order>
                        <action>order/adminhtml_order</action>
                    </items>
                </children>
			</order>
		</menu>
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <order>
                            <title>Order Module</title>
                            <sort_order>200</sort_order>
                        </order>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
        	<updates>
        		<order>
        			<file>order.xml</file>
        		</order>
        	</updates>
        </layout>
	</adminhtml>
	<global>
		<blocks>
			<order>
				<class>Ccc_Order_Block</class>
			</order>
		</blocks>
		<helpers>
			<order>
				<class>Ccc_Order_Helper</class>
			</order>
		</helpers>
		 <models>
            <customer>
                <rewrite>
                    <customer>Ccc_Order_Model_Customer</customer>
                    
                </rewrite>
            </customer>
            <order>
                <class>Ccc_Order_Model</class>
                <resourceModel>order_resource</resourceModel>
            </order>
            <order_resource>
                <class>Ccc_Order_Model_Resource</class>
                <entities>
                    <order>
                        <table>order</table>
                    </order>
                    <order_item>
                        <table>order_item</table>
                    </order_item>
                    <order_address>
                        <table>order_address</table>
                    </order_address>
                    <cart>
                        <table>cart</table>
                    </cart>
                    <cart_item>
                        <table>cart_item</table>
                    </cart_item>
                    <cart_address>
                        <table>cart_address</table>
                    </cart_address>
                </entities>
            </order_resource>
        </models>
         <resources>
            <order_setup>
                <setup>
                    <module>Ccc_Order</module>
                </setup>
            </order_setup>
        </resources>
	</global>
</config>